*~
*#

*.o
*.mod
*.a
*.so
*.zip
.DS*
*.dSYM
._*
__*
make.inc
CMakeLists.txt
*/Release/*.f90
*/Release/*.f
*/Debug/*.f90
*/Debug/*.f
BENCHMARKS/STELLOPT_TEST/*/*
BENCHMARKS/BEAMS3D_TEST/*
BENCHMARKS/THRIFT_TEST/*
core*
update*
COILGEOM
bin
setup
xanimec
xbcyclic
xbeams3d
xbnorm
xbootsj
xbooz_xform
xcobravmec
xcoilopt
xcurve
xdiagno
xdkes
xfieldlines
xgtovmi
xjmc
xjinvariant
xgrid
xneo
xnescoil
xparvmec
xpenta
xsiesta
xstellopt
xstelloptv2
xstelltran
xtorlines
xthrift
xv3fit
xvmec2000
xvmec2pies
xvmec2spec
xvmec2stel
xvmec2v690
xvmec2xgc
xwallacc
COILOPT++
GENE
TERPSICHORE
TRAVIS
matlab
NTCC
SFINCS
PB3D

.vscode/
