*~
*#

*.o
*.mod
*.a
*.so
*.zip
.DS*
._*
__*
CMakeLists.txt
*/Release/*.f90
*/Release/*.f
*/Debug/*.f90
*/Debug/*.f
BENCHMARKS/STELLOPT_TEST/*/*
update*
COILGEOM
bin
setup
xanimec
xbcyclic
xbeams3d
xbnorm
xbootsj
xbooz_xform
xcobravmec
xcoilopt
xcurve
xdiagno
xdkes
xfieldlines
xgtovmi
xjmc
xjinvariant
xgrid
xneo
xnescoil
xparvmec
xpenta
xsiesta
xstellopt
xstelloptv2
xstelltran
xtorlines
xv3fit
xvmec2000
xvmec2pies
xvmec2spec
xvmec2stel
xvmec2v690
xvmec2xgc

